<div id="page_wrapper">
  <h1>About blog</h1>
  <%= image_tag 'logo.png' %>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet urna a sapien lacinia accumsan non in lectus. Curabitur a aliquam turpis. Nullam eu mattis tortor, in cursus mauris. Donec tempus auctor congue. Donec hendrerit lorem ipsum, quis consectetur elit facilisis et. Ut feugiat neque eu neque varius luctus. Cras posuere augue in dui tempus auctor. Phasellus vestibulum id massa venenatis blandit. Aliquam vel varius magna. Cras facilisis ante nec odio malesuada interdum. Etiam condimentum eleifend quam, non tristique dui tincidunt a. Etiam convallis aliquet urna, imperdiet rhoncus odio. Aenean nec risus egestas, convallis lectus id, condimentum nisl. Proin et massa eu elit ultricies vehicula. Ut pretium cursus sapien, quis pretium leo pharetra placerat.
  </p>
  <p>
    Etiam vulputate scelerisque tortor, sed congue sem dictum non. Nulla bibendum dui vel lectus imperdiet pharetra. Morbi id ante porttitor, gravida est et, rutrum orci. Nulla aliquam purus odio, sed luctus felis porttitor vitae. Suspendisse eleifend maximus libero, in finibus elit efficitur placerat. Nullam aliquet faucibus feugiat. Suspendisse faucibus, metus ut luctus vestibulum, orci elit pellentesque nisl, at ultricies erat sapien nec lectus. Fusce pellentesque velit maximus, viverra diam in, consequat mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
  </p>
</div>